{% include 'head.html' %}
	<div id='main'>
		<div id='page'>
		<script>
		$("#page").css("max-width","600px");
		{% ifequal item 'py' %}
		Init($(".wrap .index>li:eq({{ 1 }})"));
		{% else %}
		Init($(".wrap .index>li:eq({{ 4 }})"));
		{% endifequal %}
		</script>
		
<ul>
{% for article in article_list %}
	<li>
		<hr>
		<div class='gopage'></div>
		<div>
			<h2 class='title'>{{ article.title }}</h2>
			<h4>{{ article.timestamp }}</h4>
			<p>
			{% ifnotequal article_list|length 1 %}	<!--单个文章去除略写，和ReadMore-->
				{{ article.body | striptags| cut:'&nbsp;' | truncatechars:222 }}<a class='readmore' href="javascript:void(0);" onclick="getPage('/{{ item }}/{{ article.title }}')">[阅读全文]</a><!--文章缩写-->
			{% else %}
				{{ article.body | safe }}
			{% endifnotequal %}
			</p>
		</div>
	</li>
{% endfor %}
</ul>
	
	
		</div>
	</div>

{% include 'footer.html' %}
</body>
