{% include 'head.html' %}
	<div id='main'>
		<div id='page'>
		<script>$("#page").css("max-width","600px");Init($(".wrap .index>li:eq(2)"));</script>
<h1 style='text-align:center;'>Bug is your treasure!</h1>
<ul>
{% for debug in debug_list %}
	<li>
		<div class='tip' style='background: #24262e;'>{{ forloop.revcounter }}</div>
		<ul class='log'>
			<li>
				<div class='tip'>Bug</div>
				<div class='left'>{{ debug.bug | safe }}</div>
			</li>
			<li>
				<div class='tip' style='background: green;'>Debug</div>
				<div class='right'>{{ debug.debug | safe }}</div>
			</li>
			<li class='time'>{{ debug.timestamp }}</li>
		</ul>
	</li>
{% endfor %}
</ul>
		</div>
	</div>

{% include 'footer.html' %}
