<head>
<meta charset="UTF-8">
<link rel='stylesheet' href='/static/css/style.css' type='text/css'/>
<link rel='stylesheet' href='/static/css/article.css' type='text/css'/>
<link rel='stylesheet' href='/static/css/log.css' type='text/css'/>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/ajax.js"></script>
<title>》真实的我</title>
</head>
<div>
	<nav>
		<div class="wrap">
			<ul class="index">
				<li><a href="/">首页</a></li>|
				<li><a href="javascript:void(0);" onclick="getPage('/article')">随笔</a></li>|
				<li><a href="javascript:void(0);" onclick="getPage('/debug')">问题</a></li>|
				<li><a href="javascript:void(0);" onclick="getPage('/word')">拾光录</a></li>|
				<!--<li><a href="javascript:void(0);" onclick="getPage('/static/syncmusic.html');">同步音乐</a></li>-->
				<li><a href="javascript:void(0);" onclick="getPage('/static/about.html')">关于我</a></li>
			</ul>
		</div>
	</nav>
	
<a href='javascript:void(0);' id='top'>Top</a>
</div>
