#lists{
	padding:0;
}
#lists img{
	width:200px;
	height:200px;
	border-radius: 100px;
	filter: grayscale(1);
}
#lists img:hover{
	filter: grayscale(0.3);
}
#lists li{
	display:inline-block!important;
	margin: 60px 60px!important;
	box-shadow: 0px 0px 8px 8px #eee;
	cursor:pointer;
	transition:0.6s;
	border-radius: 100px;
}
#lists li:hover{
	box-shadow: 0px 0px 12px 12px #ddd;
	transform: scale(1.05);
}
#lists span {
    display: block;
    position: absolute;
    text-align: center;
    width: 200px;
}

#player{
	color:#24262e;
	position:fixed;
	right:0px;
	top:200px;
	background:#fff;
	border-radius: 8px 0 0 8px;
	max-height:50%;
	overflow-x:hidden;
	transition:0.8s;
	background: rgba(255,255,255,0);
}

#list{
    list-style: none;
	padding: 0;
	margin: 0;
	color:rgba(255,255,255,0.75);
	cursor:pointer;
	transition:0.8s;
}
#list li{
	color:#24262e;
	border: solid 1px #eee;
	transition:0.8s;
	position: relative;
	right: -280px;
}
#list li:nth-of-type(odd) {
    background: #fbfbfd;
}
#list li:hover{
	right:-60px;
	color:#eee;
	background:#24262e;
	box-shadow: -3px -3px 3px 3px #eee;
}
#list span{
	display:inline-block;
	padding:10px 20px;
	width: 100px;
	overflow: hidden;
	white-space: nowrap;
}
#list li>span:not(:first-child){
}
