<head>
<meta charset="UTF-8">
<link href="http://fonts.googleapis.com/css?family=Viga" rel="stylesheet" type="text/css" />
<link rel='stylesheet' href='/static/css/style.css' type='text/css'/>
<link rel='stylesheet' href='/static/css/article.css' type='text/css'/>
<link rel='stylesheet' href='/static/css/log.css' type='text/css'/>
<script src="/static/js/ajax.js"></script>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<title>A Freed Donkey .</title>
</head>
<div>
	<nav>
		<div class="wrap">
			<ul class="index">
				<li><a href="/">Home</a></li>|
				<li><a href="javascript:void(0);" onclick="getPage('/py')">Py</a></li>|
				<li><a href="javascript:void(0);" onclick="getPage('/debug')">Debug</a></li>|
				<li><a href="javascript:void(0);" onclick="getPage('/ideal&reality')">Ideal & Reality</a></li>|
				<li><a href="javascript:void(0);" onclick="getPage('/static/docs.html')">Docs</a></li>|
				<li><a href="#">Life</a>
					<ul class='sub-menu'>
						<li><a href="javascript:void(0);" onclick="getPage('/essay');">Essay</a></li>
						<li><a href="javascript:void(0);" onclick="getPage('/static/syncmusic.html');">Song</a></li>
					</ul>
				</li>|
				<li><a href="javascript:void(0);" onclick="getPage('/static/about.html')">About</a></li>
			</ul>
		</div>
	</nav>
<a href='#' id='top'>Top</a>
</div>

<div id='main'>
	<div id='page'>
		<h1>404	我挂了~<h1>
	</div>
</div>

<div id='hidden' style='display:none;'></div>
