body{
    overflow-x: hidden;
}
::selection
{
    color: #ffffff;
    background-color: #666666;
}
.put{
    width: 800px;
    height: 30px;
    position: absolute;
    left: 200px;
    top: 80px;
    font-family: Lato,\"PingFang SC\",\"Microsoft YaHei\",sans-serif;
    font-size: 18px;
    background: #FFFFFF;
    color: #666666;
}
.area{
    width: 800px;
    height: 500px;
    position: absolute;
    top: 150px;
    left: 200px;
    color: #666666;
    background: #FFFFFF;
    font-family: Lato,\"PingFang SC\",\"Microsoft YaHei\",sans-serif;
    font-size: 20px;
    line-height: 1.8;
    min-height: 500px;
    resize: none;
}
.sub{
    width: 60px;
    height: 30px;
    position: absolute;
    left: 200px;
    top: 660px;
    font-family: Lato,\"PingFang SC\",\"Microsoft YaHei\",sans-serif;
    font-size: 18px;
    background: #FFFFFF;
    border: solid 1px #cccccc;
    color: #666666;
    transition: all 0.3s;
}
.sub:hover{
    color: #FFFFFF;
    background: #666666;
}
.box{
    position: absolute;
    left: 300px;
    top: 670px;
    color: #666666;
    font-size: 12px;
}