a{
    display:inline-block;
    width: 200px;
    height: 150px;
    margin: 30px 25px;
    color: #3366CC;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
div{
    width: 200px;
    height: 150px;
    position: relative;
}
img{
    width:200px;
    height:150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: width 0.3s,height 0.3s,filter 0.3s;
    filter: grayscale(0.3);
}
img:hover{
    width: 220px;
    height:170px;
    box-shadow:0 0 10px #3366CC;
    filter: grayscale(0);
}
h4{
    font-weight: inherit;
}